<div>
  <h3>All of the events should show below</h3>

  <table>
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>      
        <th>Time</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <a [routerLink]="['/details',event.id]" routerLinkActive="router-link-active"> 
          <td>{{event.name}}</td>
        </a>
        <td>{{event.date}} </td>      
        <td>{{event.time}}</td>
        <td>{{event.location.address}}, {{event.location.city}}, {{event.location.country}}</td>
      </tr>
      <tr>
        <a [routerLink]="['/details',42]" routerLinkActive="router-link-active"> 
          <td>No exists</td>
        </a>
        <td></td>      
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
